<!DOCTYPE html>

<link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">
  		  
<body class="addclass">
	<h1>Course Selection </h1>

	<div class="container">
	    <div class="row">
	        <div class ="col-md-6 col-sm-6">

	        	<h3>Add Courses</h3> 
				<%= form_tag("/add_class/addClass", method: "home") do %>
		  		<select name="optone" id="stateSel" size="1">
		        	<option value="" selected="selected">Select department code</option>
		    	</select>
			    <br>
			    <br>
			    <br>
			    <select name="opttwo" id="countySel" size="1">
		        	<option value="" selected="selected">Please select course</option>
		    	</select>
		    	<br>
		    	<br>
		    	<select name="optthree" id="citySel" size="1">
		        	<option value="" selected="selected" >Please select section</option>
		    	</select>
	 	 		<%= submit_tag("Add Course") %>
				<% end %>
	            
	        </div>
	        <div class ="col-md-6 col-sm-6">
	            
				<h3>Remove Courses</h3> 
				<%= form_tag("/add_class/addClass", method: "home") do %>
		  		<select name="optone" id="stateSel" size="1">
		       		<option value="" selected="selected">Select department code</option>
		    	</select>
			    <br>
			    <br>
			    <select name="opttwo" id="countySel" size="1">
			        <option value="" selected="selected">Please select course</option>
			    </select>
			    <br>
			    <br>
			    <select name="optthree" id="citySel" size="1">
			        <option value="" selected="selected" >Please select section</option>
			    	<br>
			    </select>

				<%= submit_tag("Remove Course") %>
				<% end %>
	        </div>
	    </div>
	</div>


	<spacer></spacer>



	<p>An Rcos Project 2017 ~ Mike Adams, Seema Bashkar, Jeremy Torella, Andy Wu</p>
</body>
