<!DOCTYPE html>
<html>

<body class="createPlanPage">
	<div id="createPlanPage">
		<div id="editPlan">
			<select class="planSelect" id="editPlanSelect" name="PlandropDown">
				<option value="firstPlan" data-dur="3" data-type="hours" data-breaks="0" data-breakDur="0">Cram</option>
				<option value="secondPlan">Lots of Breaks</option>
				<option value="thirdPlan">Few But Long Breaks</option>
				<option value="tmpPlan">Temporary Plan</option>
			</select>
			<button id="newPlanBtn">Create New Plan</button>
		</div>
	</div>
</body>