<!DOCTYPE html>
<html>

<body class="createPlanPage">
	<div id="createPlanPage">
		<h1 id="title">Plan Creation Page</h1>

		<div id="mainPageContents" class="container">
			<div id="chooseAction" class="row1">
				<h2 class="centerTitle"> Edit an existing plan or add a new one! <h2>
				
				<select id="newOrEditPlan" class="newOrEditPlan selecter"> 
					<option value="newPlan"> New Plan </option>
					<option value="editPlan"> Edit Plan </option>
				</select>
			</div>
			<%= form_tag("/create_plan/addPlan") do %>
				<div id="newPlan" class="row2">
					<div id="classAdder">
						<div class="pickClass" id="addClasstoPlan">
						  	<select name="optone" id="newClassSelect" class="selecter topRow" size="1">
						        <option value="" selected="selected">Select Class</option>
						    </select>

						    <input id="newDurationInput" class="inputBox" placeholder="Duration"></input>

							<select name="opttwo" id="newTimeTypeSelect" class="selecter minSel" size="1">
					        	<option value="min" selected="selected">minutes</option>
					        	<option value="hours">hours</option>
					    	</select>
					    </div>

					    <button class="boringBtn" id="addCToP" type="button">Add Class</button>
			 	 	</div>

			 	 	<div class="itemList" id="planContainer">
			    		<div id="planTable" class="borderedTable">
			    			<div class="tableRow">
			    				<div class="header cell">Class</div>
			    				<div class="header cell">Duration</div>
			    			</div>
			    		</div>
			    	</div>
				</div>

				<div id="editPlan" class="hidden row2">
					

				  	<select name="optone" id="planSelect" class="selecter topRow" size="1">
				        <option value="" selected="selected">Select Plan</option>
				    </select>

				    <select name="optone" id="editClassSelect" class="selecter" size="1">
				        <option value="" selected="selected">Select Class</option>
				    </select>

				    <input id="editDurationInput" class="inputBox" placeholder="Duration (0 to delete)"></input>
					<select name="opttwo" id="editTimeTypeSelect" class="selecter minSel" size="1">
			        	<option value="min" selected="selected">minutes</option>
			        	<option value="hours">hours</option>
				    </select>
					

			 	 	
				</div>
			<%= submit_tag "Confirm Plan", class: "submitBtn botRow", data: {confirm: "Plan added successfully!"}%>
		 	<% end %>
		</div>
	</div>
</body>