<!DOCTYPE html>

<body class="myCalendar">
	<h1>My Calendar</h1>
	<div id="calendar"></div>
	<p class="creatorTag">An Rcos Project 2017 ~ Mike Adams, Seema Bashkar, Jeremy Torella, Andy Wu</p>
</body>
