<head>
  <%= stylesheet_link_tag 'home', media: 'all' %>,
<head>
  
<%-# future use to pluck your courses from db -%>
 <% 
  myCourses = Course.uniq.pluck(:department_code)
  myCourses = myCourses.sort
   
  %>

<% curr_time = Time.now.strftime("%I:%M %p")
curr_date = Time.now.strftime("%A %B %d %Y") %>

<h1>Welcome to Study Buddy</h1>
<% if user_signed_in? %>
  <hello>Hello <%= current_user.email %>,</hello>
<% end %>

 
<info>
  <%= "Today is #{curr_date} and the time is currently #{curr_time}." %> 
</info>

<h4> My Courses</h4>
<div class="list-group">
  <a href="#" class="list-group-item">Operating Systems</a>
  <a href="#" class="list-group-item">Introduction to Artificial Intelligence</a>
  <a href="#" class="list-group-item">RCOS</a>
  <a href="#" class="list-group-item">Advanced Calculus</a>
  <a href="#" class="list-group-item">Cognitive Psychology</a>
</div>

<p>An Rcos Project 2017 ~ Mike Adams, Seema Bashkar, Jeremy Torella, Andy Wu</p>
