<!DOCTYPE html>


  <%-# future use to pluck your courses from db -%>
 <% 
  myCourses = Course.uniq.pluck(:department_code)
  myCourses = myCourses.sort
   
  %>

<% curr_time = Time.now.strftime("%I:%M %p")
curr_date = Time.now.strftime("%A %B %d %Y") %>

<h1>Welcome to Study Buddy</h1>
<% if user_signed_in? %>
  <hello>Hello <%= current_user.email %>,</hello>
<% end %>

 
<info>
  <%= "Today is #{curr_date} and the time is currently #{curr_time}." %> 
</info>

<h4> My Courses</h4>
<% myList = Username.uniq.pluck(:course_number)
%>

  <div class="list-group">
  <% myList.each do |course| %>
      <a href="#" class="list-group-item"> <%= course %> </a>
    
  <% end %>
  </div>

<p>An Rcos Project 2017 ~ Mike Adams, Seema Bashkar, Jeremy Torella, Andy Wu</p>
