// Place all the styles related to the CreatePlan controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#title {
	text-align: center;
	color:black;
}


#createPlanPage {
	width: 100%;
	display: table;
	table-layout: fixed;
	height: 95%;
	position:absolute;
	background-color: indianred;	
}

.row2 {
	padding-top: 2%;
	padding-bottom: 2%;
}

#mainPageContents {
	margin-top: 3%;
}

#chooseAction {
	display:table-cell;
	margin: auto;
	padding: 1%;
	display:block;
}

#newOrEditPlan {
	font-size: 18pt;
	margin:auto;
	display:block;
}

#editPlan {
	margin:auto;
	display:block;
}

.inputBox {
	margin:auto;
	display:block;
	margin-top: 2%
}

#editClassSelect {
	margin-top: 2%
}

#timeTypeSelect {
	margin-top:1%;
}

#classSelect {
	margin-top: 1%;
}

.selecter {
	margin: auto;
	display: block;
	box-shadow: 1px 1px 5px black;
}

.topRow {
	margin-top: 20px;
}

.submitBtn {
	margin:auto;
	margin-top: 3%;
	display: block;
}

.centerTitle {
	text-align: center;
	color: white;
}