// Place all the styles related to the CreatePlan controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#title {
	text-align: center;
	color:black;
}


#createPlanPage {
	width: 100%;
	table-layout: fixed;
	height: 95%;
	position:absolute;
	background-color: indianred;	
}

.row2 {
	padding-top: 2%;
	padding-bottom: 2%;
	width:100%;
	display: table;
}

#mainPageContents {
	margin-top: 3%;
}

#chooseAction {
	display: table-cell;
	margin: auto;
	padding: 1%;
	display: block;
}

#newOrEditPlan {
	font-size: 18pt;
	margin:auto;
	display:block;
}

#editPlan {
	margin:auto;
	display:block;
}

.inputBox {
	margin:auto;
	display:block;
	margin-top: 2%
}

#editClassSelect {
	margin-top: 2%
}

#timeTypeSelect {
	margin-top:1%;
}

#classSelect {
	margin-top: 1%;
}

#classAdder {
	float:left;
	padding-left: 5%;
}

.boringBtn {
	border-radius: 2px;
	box-shadow: 2px 2px 5px black;
}

#addCToP {
	margin:auto;
	display:block;
	margin-top: 10%
}

#planContainer {
	display: table-cell;
	padding-left: 18%;
	float: left;
}

.selecter {
	margin: auto;	
	display: block;
	box-shadow: 1px 1px 5px black;
}

.minSel {
	margin-top: 1%;
}

.submitBtn {
	margin:auto;
	margin-right: 5%;
	display: block;
}

#submitContainer {
	margin-top: 3%;
	vertical-align: bottom;
}

.centerTitle {
	text-align: center;	
	color: white;
}

.planClass {
	white-space: nowrap;
}

.borderedTable {
	padding-left: 2%;
	font-size: 13pt;
}

.tableRow {
	display: table-row;
}

.header {
	font-weight: bold;
	background-color: #3ee9ef;
}

.tableText {
	margin: 5% 10px 5%;
}

.cell {
	border: 1px solid black;
	display:table-cell;
}