// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.homeTitle {
	padding-bottom: 40px;
	color: #4d4a4a;
	text-align: center;
	font-family: "Verdana", sans-serif;
	font-size: 80px;
	font-weight: 400;
}

.hello {
	padding-top: 10px;
	color: #4d4a4a;
    	font-size: 45px;
	text-align: center;
	font-weight: 400;
}

.info {
	padding-top: 5px;
	padding-bottom: 125px;
    	text-align: right;
	color: #4d4a4a;
    	font-size: 45px;
	text-align: center;
	font-weight: 400;
}

.list-group { 
 	background:none;
    	margin-left: 25px;
    	min-width: 400px;
    	width: 40%;
 }

 .courseListHeader {
	background-color: white;
 	color: 4d4a4a;
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 20px;
	font-weight: 400;
	text-indent: 15px;
	margin-left: 25px;
	min-width: 400px;
    	width: 40%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: -2px;
	border-bottom-left-radius: -2px;
 }


.homePage {
    	background-size: 100% ;
    	background-image : url("emac.jpg");
}

.field{
	text-align: center;
	color: white;
	font-size: 18px;
	margin-top: 5px;
}

.actions{
	
	font-size: 18px;
	postion: fixed;
	margin-top: 10px;
    	text-align: center;
}

.creatorTag {
    	position: fixed;
    	bottom: 0;
    	color: white;
}

.link{
    	text-align: center;
	color: blue;
	font-size: 18px;
}


