.menuBar {
	/*background-color:#4f8cef;*/
	background-color: white;
	border-bottom:3px solid black;
	z-index:1;
	overflow: hidden;
	position:relative;
}

.menuButtons a{
	float: left;
	font-size: 20px;
	color: black;
	text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

.dropdown {
	float: left;
	overflow: hidden;
}

.dropdown, .dropbtn {
	cursor: pointer;
	font-size: 20px;
	border: none;
	outline: none;
	color: black;
	padding: 5px 6px;
	background-color: inherit;
	font-family: 'Exo', sans-serif;
}

.menuButtons a:hover {
	background-color: #6dd0ff;
}

.dropdown-content {
	display: none;
	position: absolute;
	min-width: 160px;
	background-color: #f9f9f9;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index:1;
}

.dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
	background-color: #ddd;
}

.show {
	display:block;
}

#user_nav {
	float: right;
	text-align: right;
	vertical-align: middle;
	padding-top: .7%;
	padding-right: .5%;
	font-size: 12pt;
}

#user_nav a{
	color: #194387;
}
