.StudyBuddy {
	color: white;
	text-align: center;
	font-family: "Verdana", sans-serif;
	padding: 10px;
}

.SignUp{
	color: white;
	text-align: center;
	font-family: "Verdana", sans-serif;
	padding: 10px;

}

.signedup{
	color: white;
    font-size: 18px;
	

}

.newSignIn {
    background-size: 100% ;
    background-image : url("emac.jpg");
}
.field{
	text-align: center;
	color: black;
	font-size: 18px;
	margin-top: 5px;

}

.actions{
	
	font-size: 18px;
	postion: fixed;
	margin-top: 10px;
    text-align: center;

	
}

p {
    position: fixed;
    bottom: 0;
    color: white;
}



.link{
    text-align: center;
	color: white;
	font-size: 18px;
}


