
.signInTitleText {
	color: white;
	text-align: center;
	font-family: "Verdana", sans-serif;
	padding: 10px;
}

h3 {
	color: white;
    font-size: 18px;
}

.field{
	text-align: center;
	color: white;
	font-size: 18px;
	margin-top: 5px;
}

.actions{
	font-size: 18px;
	postion: fixed;
	margin-top: 10px;
    text-align: center;
}

.link{
    text-align: center;
	color: blue;
	font-size: 18px;
}


