// Place all the styles related to the Timer controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
.timerPage {
	font-family: 'Exo', sans-serif;
}
*/
.timerPage {
	background-color: white;
	background-image: none;
}

.timeDigits {
	font-size: 2.5vw;
}

.milli {
	font-size: 1vw;
}

.hidden{
	display:none;
}

.link {
	color: #47d3b0;
}

.planSelect {
   color:black;
   overflow:hidden;
   margin-bottom: 3%;
   width:80%;
   -moz-border-radius: 9px 9px 9px 9px;
   -webkit-border-radius: 9px 9px 9px 9px;
   border-radius: 9px 9px 9px 9px;
   box-shadow: 1px 1px 11px black;
   background: #white;
}

#finalStudy {
	font-size: 1.8vw;
}

#bottomTimer {
	font-size: 2.5vw;
}

#mainPageContainer {
	width: 100%;
	display: table;
	table-layout: fixed;
	height: 95%;
	position:absolute;
	z-index:0;
}

#timerSideBar {
	background-color: indianred;
	display: table-cell;
	width: 15%;
	height: 100%;
	padding-right: 0.5%;
	padding-left: 0.5%;
	color: #FFFFFF;
 	box-shadow:10px 0px 20px black;
 	position:relative;
 	vertical-align: top;
}

#tmpPlan {
	color: black;
}

#rightCol {
	display: table-cell;
	width: 70%;
	padding-left: 2%;
	float:center;
}

.centeredButtons {
	padding-top:20%;
	padding-left:25%;
}

#restartButton {
	margin-top: 5%;
}

#planSubmitBtn {
	margin-top: 5%;
	margin-left: 17%;
}

.timerButton {
	color: black;
	height:60px;
	width:180px;
	border-radius: 50px;
	background-color: white;
	border: none;
	cursor:pointer;
}

.timerButton:hover {
	background-color: #d4d5d8;
}

#timer {
	padding-top: 5%;
	height:50px;
	width:250px;
}

#finBut {
	position:absolute;
	bottom: 0;
	padding-bottom: 5%;
	right: 0;
	padding-right:26%;
}

#finishButton {
	height:40px;
	width:150px;
}

#finalTime {
	position:absolute;
	bottom: 0;
	padding-bottom: 20%;
}

#studyPlanChart {
	margin:auto;
	display:block;
	width:600px;
	height:600px;
}
